<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: Source: components/ui/RegistrationAdmin.vue</title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
</head>

<body>

<div id="main">

    <h1 class="page-title">Source: components/ui/RegistrationAdmin.vue</h1>

    



    
    <section>
        <article>
            <pre class="prettyprint source linenums"><code>&lt;!-- Componente que muestra el dialogo para registrar un nuevo administrador -->

&lt;template>
  &lt;teleport to="body">
  &lt;div v-if="show" @click="close" class="backdrop">&lt;/div>
    &lt;transition name="dialog">
      &lt;dialog open v-if="show">
        &lt;div class="section">
          &lt;h3>Registro de administrador&lt;/h3>
          &lt;form @submit.prevent="submitForm">
            &lt;slot>&lt;/slot>
          &lt;/form>
        &lt;/div>
      &lt;/dialog>
    &lt;/transition>
&lt;/teleport>
&lt;/template>

&lt;script>
export default {
  /**
   * Propiedades que recibe el componente.
   * @prop {boolean} show - Indica si el dialogo se muestra o no.
   */
  props: {
    show: {
      type: Boolean,
      required: true,
    },
  },

  /**
   * Emite el evento 'close' cuando se cierra el dialogo. Lo que permite que el
   * componente que use este componente pueda reaccionar a este evento.
   */
  emits: ["close"],
  
  methods: {
    /**
     * Cierra el dialogo y emite el evento 'close'.
     */
    close() {
      this.$emit("close");
    },
  },
};
&lt;/script>

&lt;style scoped>

/* Estilos para el componente RegistrationAdmin.vue */

form{
  width: 100%;
}
h3 {
  text-align: center;
  padding: 1rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
}

dialog {
  font-family: typewriter-light;
  position: fixed;
  top: 12vh;
  left: 10%;
  width: 80%;
  min-height: auto;
  z-index: 999;
  border-radius: 5px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.section {
  width: 80%;
  margin: 0px auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.dialog-enter-from,
.dialog-leave-to {
  opacity: 0;
  /* transform: scale(0); */
}

.dialog-enter-active {
  transition: all 0.2s ease-out;
}

.dialog-leave-active {
  transition: all 0.2s ease-in;
}

.dialog-enter-to,
.dialog-leave-from {
  opacity: 1;
  /* transform: scale(1); */
}

@media (min-width: 768px) {
  dialog {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
&lt;/style>
</code></pre>
        </article>
    </section>




</div>

<nav>
    <h2><a href="index.html">Home</a></h2><h3>Modules</h3><ul><li><a href="module-AuthenticatedNav.html">AuthenticatedNav</a></li><li><a href="module-FooterCredits.html">FooterCredits</a></li><li><a href="module-TheNavigation.html">TheNavigation</a></li></ul><h3>Global</h3><ul><li><a href="global.html#app">app</a></li><li><a href="global.html#history">history</a></li><li><a href="global.html#routes">routes</a></li><li><a href="global.html#scrollBehavior">scrollBehavior</a></li><li><a href="global.html#services">services</a></li><li><a href="global.html#store">store</a></li></ul>
</nav>

<br class="clear">

<footer>
    Documentation generated by <a href="https://github.com/jsdoc/jsdoc">JSDoc 4.0.2</a> on Fri Feb 02 2024 23:29:19 GMT+0100 (hora estándar de Europa central)
</footer>

<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>
